article(class=['panel', 'panel-default'])
  div.panel-heading
    h1.panel-title About
  div.panel-body Trackr е създаден да предоставя възможност на потребителите да агрегират и запазват
    | данни за местоположението им посредством използването на стандартни GPX файлове. Данните се пазят
    | на сървър при пълна анонимност. Използваните технологии включват: Azure Infrastructure, Node.js, Express
    | Angular, Google Maps, и др.